@page
@using Microsoft.AspNetCore.Http
@model ListReservationsModel
@{
    ViewData["Title"] = "List Reservation";
    var today = DateTime.Today;
    var lastday = today.AddDays(7);
    var todayString = today.ToString("yyyy-MM-dd");
    var lastdayString = lastday.ToString("yyyy-MM-dd");
}
<h1>@ViewData["Title"]</h1>
<p>Use this page to list Reservation.</p>

<form asp-page="./ListReservations" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Room Name:
            <input type="text" name="searchString1" value="" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./ListReservations">Back to full List</a>
        </p>
    </div>
    <div class="form-actions no-color">
        <p>
            Find by Capacity:  
            <input type="text" name="searchString2" value="" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./ListReservations">Back to full List</a>
        </p>
    </div>
    <div class="form-actions no-color">
        <p>
            Find by Date:
            <input type="date" name="searchString3" value="" min="@todayString" max="@lastdayString"/>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            
            <a asp-page="./ListReservations">Back to full List</a>
        </p>
    </div>
</form>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">
                <a asp-page="./ListReservations" asp-route-sortOrder="@Model.RoomNameSort">
                    @Html.DisplayNameFor(model => model.reservationList[0].Room.RoomName)
                </a>
            </th>
            <th scope="col">
                <a asp-page="./ListReservations" asp-route-sortOrder="@Model.RoomCapacitySort">
                    @Html.DisplayNameFor(model => model.reservationList[0].Room.Capacity)
                </a>
            </th>
            <th scope="col">
                <a asp-page="./ListReservations" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.reservationList[0].Date)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var Reservation in Model.reservationList)
    {
        <tr>
            <td>@Model.roomList.FirstOrDefault(item => item.RoomId == Reservation.RoomId).RoomName</td>
            <td>@Model.roomList.FirstOrDefault(item => item.RoomId == Reservation.RoomId).Capacity</td>
            <td>@Reservation.Date.ToShortDateString()</td>
            @if (@Reservation.ReserverId==Model.UserId)
            {
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@Reservation.ReservationId">
                @if(Model.UserId == @Reservation.ReserverId)
                {
                    <button class="btn btn-danger">Delete</button>
                }
                </form>
            </td>
            }
        </tr>
    }
    </tbody>
</table>